# ================
# PiMakers (vscode)
# ================

.vscode/ipch
[Oo]bj
*.o
*.d
obj/**

bin/*
!bin/data/*
obj/linux64/Debug/src/main.d
obj/linux64/Debug/src/main.d
obj/linux64/Debug/src/ofApp.d
obj/linux64/Debug/addons/ofxHID/libs/ofxHID/src/HIDDeviceUtils.o
obj/linux64/Debug/src/main.o
obj/linux64/Debug/src/ofApp.d
obj/linux64/Debug/src/ofApp.o
obj/linux64/Debug/src/ofApp.d
obj/linux64/Debug/src/main.d
obj/linux64/Debug/src/main.o
obj/linux64/Debug/src/main.d
